.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background: hsl(185, 75%, 39%);
  overflow: hidden;
  margin: 0 auto;
}

.bg-pattern1 {
  position: absolute;
  top: -85vh;
  left: -25vw;
  z-index: -1;
}

.bg-pattern2 {
  position: absolute;
  top: 50vh;
  left: 45vw;
  z-index: -1;
}

.card{
    padding: 120px 0;
}

.card-container {
  margin: 0 auto;
  height: 370px;
  width: 350px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.123);
}

.card-header {
  background: url(images/bg-pattern-card.svg);
  background-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-content {
}

.card-image {
  position: relative;
  top: -50px;
  left: 125px;
  height: 55px;
}

.card-image img {
  border: 5px solid white;
  border-radius: 50%;
}

.card-text {
  text-align: center;
}

.card-text h3 {
  font-size: 18px;
}

.card-text span {
  color: hsl(0, 0%, 59%);
  margin-left: 5px;
}

.card-text p {
  font-size: 15px;
}

.card-content hr {
  margin: 25px 0;
  border: 1px solid rgb(233, 233, 233);
}

.card-stat {
  font-size: 15px;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -25px;
  text-align: center;
}

.stat p {
  color: hsl(0, 0%, 59%);
  margin-top: -10px;
  font-size: 12px;
}

@media screen and (max-width: 375px){
    .card-container{
        width: 320px;
    }

    .card-image{
        position: relative;
        left: 110px;
    }

    .bg-pattern1{
        left: -200vw;
        top: -120vh;
    }

    .bg-pattern2 svg{
        position: absolute;
        left: -10vw;
    }
}